In [1]:
import pandas as pd
import numpy as np
import re

# Clean de VG

In [2]:
vg = pd.read_csv('vg_sales_clean.csv')

In [3]:
vg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15591 entries, 0 to 15590
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    15591 non-null  int64
 1   Name          15591 non-null  object
 2   Platform      15591 non-null  object
 3   Genre         15591 non-null  object
 4   Publisher     15591 non-null  object
 5   Year          15591 non-null  float64
 6   NA_Sales      15591 non-null  float64
 7   EU_Sales      15591 non-null  float64
 8   JP_Sales      15591 non-null  float64
 9   Other_Sales   15591 non-null  float64
 10  Global_Sales  15591 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.3+ MB

In [129]:
vg = vg.drop('Unnamed: 0', axis = 1)

In [130]:
# HOMOGENEISATION DE LA CASSE

cols = ['Name','Platform','Genre','Publisher']
for col in cols :
  vg[col] = vg[col].apply(lambda x : x.upper())

# RETRAIT DES ELEMENTS DE TYPE (a-zA-Z0-9) DANS LES TITRES DE JEUX

for i, element in enumerate(vg['Name']):
  if '(' in element :
    r1 = re.findall(r"\(.*?\)", element)
    vg['Name'][i] = element.replace(r1[0], '').strip()

vg.head()

<ipython-input-130-7e19ea5f0f24>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vg['Name'][i] = element.replace(r1[0], '').strip()

,Name,Platform,Genre,Publisher,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,WII SPORTS,WII,SPORTS,NINTENDO,2006.0,41.49,29.02,3.77,8.46,82.74
1,SUPER MARIO BROS.,NINTENDO,PLATFORM,NINTENDO,1985.0,29.08,3.58,6.81,0.77,40.24
2,MARIO KART WII,WII,RACING,NINTENDO,2008.0,15.85,12.88,3.79,3.31,35.82
3,GRAND THEFT AUTO V,PLAYSTATION,ACTION,TAKE-TWO INTERACTIVE,2014.0,10.81,15.08,1.33,6.16,33.38
4,WII SPORTS RESORT,WII,SPORTS,NINTENDO,2009.0,15.75,11.01,3.28,2.96,33.00

In [131]:
#vg.to_csv('vg.csv', index = False)

# Clean de MC

In [4]:
mc = pd.read_csv('MC_final.csv')
mc = mc.drop('Date', axis = 1)

In [5]:
mc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20205 entries, 0 to 20204
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             20205 non-null  object
 1   Platform         20205 non-null  object
 2   Note MC          18985 non-null  float64
 3   Note Players MC  17150 non-null  float64
dtypes: float64(2), object(2)
memory usage: 631.5+ KB

In [134]:
# MODIFICATION NOMS DES COLONNES

mc = mc.rename(columns = {'Note MC':'Test_MC','Note Players MC':'Players_MC'})

# REGROUPEMENT PAR PLATEFORMES

platform_replace = {'PlayStation 4' : 'Playstation', 'Xbox 360' : 'Xbox','PlayStation 2' : 'Playstation',
                    'PlayStation 3' : 'Playstation', 'PlayStation 5' : 'Playstation','Xbox One' : 'Xbox',
                    'PSP':'PlayStation','Game Boy Advance':'GB','PlayStation Vita' : 'Playstation','3DS':'DS',
                    'GameCube':'Autre','Xbox Series X':'Xbox','Wii U':'Wii', 'Dreamcast':'Autre',
                    'Nintendo 64':'Nintendo','Stadia':'Autre'}

mc['Platform'] = mc['Platform'].replace(platform_replace)

# HOMOGENEISATION DE LA CASSE

mc['Name'] = mc['Name'].apply(lambda x: x.upper())
mc['Platform'] = mc['Platform'].apply(lambda x: x.upper())

# RETRAIT DES ELEMENTS DE TYPE (a-zA-Z0-9) DANS LES TITRES DE JEUX

for i, element in enumerate(mc['Name']):
  if '(' in element :
    r1 = re.findall(r"\(.*?\)", element)
    mc['Name'][i] = element.replace(r1[0], '').strip()

# GROUPBY NAME et PLATFORM : PS1 = Playstation ; PS4 = Playstation pour un même jeu

mc = mc.groupby(['Name','Platform']).mean().reset_index()
mc.head()

<ipython-input-134-68cbbf85ed34>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mc['Name'][i] = element.replace(r1[0], '').strip()

              Name     Platform  Test_MC  Players_MC
0           #DRIVE       SWITCH     69.0         7.0
1           #IDARB         XBOX     77.0         6.9
2  #KILLALLZOMBIES         XBOX     53.0         NaN
3    'SPLOSION MAN         XBOX     84.0         7.7
4         .DETUNED  PLAYSTATION      NaN         NaN

In [135]:
print(mc.info())
print('\n')
print(mc.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19657 entries, 0 to 19656
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        19657 non-null  object
 1   Platform    19657 non-null  object
 2   Test_MC     18467 non-null  float64
 3   Players_MC  16691 non-null  float64
dtypes: float64(2), object(2)
memory usage: 614.4+ KB
None


Name             0
Platform         0
Test_MC       1190
Players_MC    2966
dtype: int64

In [136]:
#mc.to_csv('/content/drive/MyDrive/Projet_Gaming_Sales/CODE_FINAL/csv/mc.csv', index = False)

# Clean de JV

In [5]:
jv = pd.read_csv('dataframe_jeuxvideos.csv')
jv = jv.drop('Unnamed: 0', axis = 1)
display(jv.head())
print(jv.shape)

                                              titres    test     avis
0           Hogwarts Legacy : l'Héritage de Poudlard   18/20  15.5/20
1                             Resident Evil 4 (2023)   18/20  17.3/20
2                                          Diablo IV  - -/20   - -/20
3  The Legend of Zelda : Tears of the Kingdom sur...  - -/20   - -/20
4                              The Last of Us Part I   17/20  16.2/20

(43940, 3)

In [138]:
# MODIFICATION NOMS DES COLONNES
jv = jv.rename(columns = {'titres' : 'Name', 
                          'test':'Test_JV', 
                          'avis':'Players_JV'})

# HOMOGENEISATION DE LA CASSE
jv['Name'] = jv['Name'].apply(lambda x : x.upper())

# RETRAIT DES ELEMENTS DE TYPE (a-zA-Z0-9) DANS LES TITRES DE JEUX
for i, element in enumerate(jv['Name']):
  if '(' in element :
    r1 = re.findall(r"\(.*?\)", element)
    jv['Name'][i] = element.replace(r1[0], '').strip()

# MODIFICATION DES VALEURS DES NOTES

to_replace = {'- -/20' : '0/20', 'test non renseigné' : '0/20',             # remplacement des notes non renseignées
              'avis non renseigné' : '0/20','Non renseigné':'0/20',         # par des 0 (elles deviendronts des NaN à terme)
              '18,5/20':'18.5/20'}                                           

jv['Test_JV'] = jv['Test_JV'].replace(to_replace)
jv['Players_JV'] = jv['Players_JV'].replace(to_replace)

jv['Test_JV'] = jv['Test_JV'].apply(lambda x : x[:-3]).astype(float)        # on tronque la partie '/20' des notes : 18/20 => 18
jv['Players_JV'] = jv['Players_JV'].apply(lambda x : x[:-3]).astype(float)

to_replace_nan = {0 : np.nan}                                               # On remplace les 0 par des NaN pour rester fidèle à la réalité
jv['Test_JV'] = jv['Test_JV'].replace(to_replace_nan)
jv['Players_JV'] = jv['Players_JV'].replace(to_replace_nan)

# HOMOGENEISATION DES TITRES : POSITION DU CARACTERE ':'

for i, element in enumerate(jv['Name']) :
  if ' : ' in element :
    r2 = re.findall(r"\ :.*?\ ", element)
    jv['Name'][i] = element.replace(r2[0], ': ')

# RECUPERATION DES PLATEFORMES DANS LES TITRES DES JEUX

plateforme_jv = []
for element in jv['Name']:
  if ' SUR ' in element :
    plateforme_jv.append(element.split(' SUR ')[1])
  else :
    plateforme_jv.append(np.nan)

jv['Platform'] = plateforme_jv

plateforme_replace = {'PS1':'PLAYSTATION','PS2':'PLAYSTATION','PS3':'PLAYSTATION','PS4':'PLAYSTATION',
                      'PS5':'PLAYSTATION','PSP':'PLAYSTATION','VITA':'PLAYSTATION','XBOX SERIES':'XBOX',
                      '3DS':'DS','360':'XBOX','WIIU':'WII','GBA':'GB','IOS':'MOBILE','ONE':'XBOX','NGC':'GB',
                      'N64':'NINTENDO','NES':'NINTENDO','SNES':'NINTENDO','WEB':'MOBILE','GBC':'GB','INTERNET':'MOBILE',
                      'DCAST':'AUTRE','MD':'AUTRE','SATURN':'AUTRE','NGAGE':'AUTRE','MS':'AUTRE','LINUX':'MOBILE','NEW 3DS':'DS'}


# MODIFICATION DES TITRES

jv['Name'] = jv['Name'].apply(lambda x : x.split(' SUR ')[0])

jv.head()

<ipython-input-138-db9d155b1052>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jv['Name'][i] = element.replace(r2[0], ': ')

                                        Name  Test_JV  Players_JV Platform
0    HOGWARTS LEGACY: L'HÉRITAGE DE POUDLARD     18.0        15.5      NaN
1                            RESIDENT EVIL 4     18.0        17.3      NaN
2                                  DIABLO IV      NaN         NaN      NaN
3  THE LEGEND OF ZELDA: TEARS OF THE KINGDOM      NaN         NaN   SWITCH
4                      THE LAST OF US PART I     17.0        16.2      NaN

In [139]:
for cols in ['Name','Test_JV','Players_JV','Platform']:
  print('Nombre de NaN dans',cols,' : ',jv[cols].isna().sum(), 
        '\n', '% de NaN dans',cols, ' : ',(100 * jv[cols].isna().sum() / len(jv[cols])).round(2),'%')

Nombre de NaN dans Name  :  0
 % de NaN dans Name  :  0.0 %
Nombre de NaN dans Test_JV  :  31350
 % de NaN dans Test_JV  :  71.35 %
Nombre de NaN dans Players_JV  :  35432
 % de NaN dans Players_JV  :  80.64 %
Nombre de NaN dans Platform  :  18753
 % de NaN dans Platform  :  42.68 %

In [140]:
jv = jv.drop('Platform', axis = 1)

In [141]:
#jv.to_csv('jv.csv', index = False)

# Clean de VGChartz

## Limitation de la colonne Platform

In [6]:
vgc = pd.read_csv('vg_chartz_cleaned.csv')
vgc.head()

               Name Platform           Publisher  Global Sales  Date de sortie
0            Tetris   Series  The Tetris Company        496.40          1988.0
1           Pokemon   Series            Nintendo        464.84          1998.0
2      Call of Duty   Series          Activision        400.00          2003.0
3       Super Mario   Series            Nintendo        398.51          1983.0
4  Grand Theft Auto   Series      Rockstar Games        395.00          1998.0

In [143]:
vgc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62694 entries, 0 to 62693
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            62694 non-null  object
 1   Platform        62313 non-null  object
 2   Publisher       62694 non-null  object
 3   Global Sales    4226 non-null   float64
 4   Date de sortie  56822 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.4+ MB

In [144]:
vgc = vgc.rename(columns = {'Global Sales':'Global_Sales','Date de sortie':'Year'})

for i, element in enumerate(vgc['Name']) :
  if '(' in element :
    r2 = re.findall(r"\(.*?\)", element)
    vgc['Name'][i] = element.replace(r2[0], '').strip()

for i, element in enumerate(vgc['Name']) :
  if 'Read the review' in element :
    r3 = re.findall("Read the review", element)
    vgc['Name'][i] = element.replace(r3[0], '').strip()

vgc = vgc.groupby(['Name','Platform','Publisher']).agg({'Global_Sales':'sum','Year':'mean'}).sort_values(by = 'Global_Sales', ascending = False).reset_index()

vgc['Global_Sales'] = vgc['Global_Sales'].replace({0.0:np.nan})
vgc = vgc.dropna()

for col in ['Name','Platform','Publisher']:
  vgc[col] = vgc[col].apply(lambda x : x.upper())

vgc.head()

<ipython-input-144-fa194945cea3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vgc['Name'][i] = element.replace(r2[0], '').strip()
<ipython-input-144-fa194945cea3>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vgc['Name'][i] = element.replace(r3[0], '').strip()

               Name Platform           Publisher  Global_Sales    Year
0            TETRIS   SERIES  THE TETRIS COMPANY        496.40  1988.0
1           POKEMON   SERIES            NINTENDO        464.84  1998.0
2      CALL OF DUTY   SERIES          ACTIVISION        400.00  2003.0
3       SUPER MARIO   SERIES            NINTENDO        398.51  1983.0
4  GRAND THEFT AUTO   SERIES      ROCKSTAR GAMES        395.00  1998.0

In [145]:
vgc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3635 entries, 0 to 4100
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          3635 non-null   object
 1   Platform      3635 non-null   object
 2   Publisher     3635 non-null   object
 3   Global_Sales  3635 non-null   float64
 4   Year          3635 non-null   float64
dtypes: float64(2), object(3)
memory usage: 170.4+ KB

In [146]:
# Illustration de la limite de la colonne platform

vgc[vgc['Name'].str.contains('GRAND THEFT AUTO')]

,Name,Platform,Publisher,Global_Sales,Year
4,GRAND THEFT AUTO,SERIES,ROCKSTAR GAMES,395.0,1998.0
11,GRAND THEFT AUTO V,ALL,ROCKSTAR GAMES,175.0,2013.0
129,GRAND THEFT AUTO: SAN ANDREAS,ALL,ROCKSTAR GAMES,27.5,2004.0
137,GRAND THEFT AUTO IV,SERIES,ROCKSTAR GAMES,25.0,2008.0
205,GRAND THEFT AUTO: VICE CITY,ALL,ROCKSTAR GAMES,17.5,2002.0
206,GRAND THEFT AUTO: SAN ANDREAS,PLAYSTATION,ROCKSTAR GAMES,17.3,2010.0
259,GRAND THEFT AUTO III,XBOX,ROCKSTAR GAMES,14.5,2001.0
290,GRAND THEFT AUTO V,PC,ROCKSTAR GAMES,12.6,2018.0
449,GRAND THEFT AUTO: LIBERTY CITY STORIES,SERIES,ROCKSTAR GAMES,8.0,2005.0
712,GRAND THEFT AUTO: VICE CITY STORIES,ALL,ROCKSTAR GAMES,4.5,2006.0
868,GRAND THEFT AUTO,ALL,ASC GAMES,3.5,1998.0

In [7]:
# Autre illustration de la non pertinence de ces données sur un 2eme DataFrame issu d'une autre tentative de scrapping

vgc2 = pd.read_csv('dataframe_vgc.csv')
vgc2.head()

               Name           Publisher Total_shipped Total_sales         Date
0            Tetris  The Tetris Company       496.40m         NaN  01st Jan 88
1           Pokemon            Nintendo       464.84m         NaN  28th Sep 98
2      Call of Duty          Activision       400.00m         NaN  29th Oct 03
3       Super Mario            Nintendo       398.51m         NaN  20th Jul 83
4  Grand Theft Auto      Rockstar Games       395.00m         NaN  27th Mar 98

In [148]:
vgc2['Total_sales'] = vgc2['Total_sales'].fillna('0.00m')
vgc2['Total_shipped'] = vgc2['Total_shipped'].fillna('0.00m')

vgc2['Total_sales'] = vgc2['Total_sales'].apply(lambda x : x[:-1]).astype(float)
vgc2['Total_shipped'] = vgc2['Total_shipped'].apply(lambda x : x[:-1]).astype(float)

nan_replace = {0.00:np.nan}
vgc2['Total_sales'] = vgc2['Total_sales'].replace(nan_replace)
vgc2['Total_shipped'] = vgc2['Total_shipped'].replace(nan_replace)

vgc2['Date'] = pd.to_datetime(vgc2['Date']).dt.year

for i, element in enumerate(vgc2['Name']) :
  if '(' in element :
    r2 = re.findall(r"\(.*?\)", element)
    vgc2['Name'][i] = element.replace(r2[0], '').strip()

for i, element in enumerate(vgc2['Name']) :
  if 'Read the review' in element :
    r3 = re.findall("Read the review", element)
    vgc2['Name'][i] = element.replace(r3[0], '').strip()

for i in ['Name','Publisher']:
  vgc2[i] = vgc2[i].apply(lambda x : x.upper())

<ipython-input-148-e895f32003ce>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vgc2['Name'][i] = element.replace(r2[0], '').strip()
<ipython-input-148-e895f32003ce>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vgc2['Name'][i] = element.replace(r3[0], '').strip()

In [149]:
vgc2 = vgc2.drop(["Total_shipped","Date"], axis = 1)

# Total_shipped contient tres peu de données et Date en contient beaucoup mais en vue de faire un dropna(), on supprime Date
# pour éviter de perdre trop d'informations sur le futur dropna()

In [150]:
vgc2 = vgc2.dropna()
vgc2.head()

                            Name       Publisher  Total_sales
163           GRAND THEFT AUTO V  ROCKSTAR GAMES        20.32
190           GRAND THEFT AUTO V  ROCKSTAR GAMES        19.39
222  GRAND THEFT AUTO: VICE CITY  ROCKSTAR GAMES        16.15
228           GRAND THEFT AUTO V  ROCKSTAR GAMES        15.86
235    CALL OF DUTY: BLACK OPS 3      ACTIVISION        15.09

In [151]:
vgc2 = vgc2.groupby(['Name','Publisher']).sum().sort_values(by = 'Total_sales', ascending = False).reset_index()
vgc2.head()

                             Name       Publisher  Total_sales
0              GRAND THEFT AUTO V  ROCKSTAR GAMES        64.29
1         CALL OF DUTY: BLACK OPS      ACTIVISION        30.99
2  CALL OF DUTY: MODERN WARFARE 3      ACTIVISION        30.71
3      CALL OF DUTY: BLACK OPS II      ACTIVISION        29.59
4            CALL OF DUTY: GHOSTS      ACTIVISION        28.80

In [152]:
# données de ventes mais pas de consoles, on ne sait pas la proportion des ventes de chaque consoles
# informations peu voir pas exploitables

## Autre illustration de la limitation de ce jeu de données

In [153]:
# récupération des plateformes à la suite d'un nouveau scrapping du site pour récupérer les consoles uniquement

console = pd.read_csv('Consoles-vgchartz.csv')
console = console.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1)
console = console.rename(columns = {'consoles':'Platform', 'games;':'Name'})
console = console.dropna()
console['Name'] = console['Name'].apply(lambda x : x[:-1])
platform_df = console.iloc[:20000] # uniquement des NaN au dela
display(console.head())
vgc_df = pd.read_csv('dataframe_vgc.csv')

  Platform              Name
0   Series            Tetris
1   Series           Pokemon
2   Series      Call of Duty
3   Series       Super Mario
4   Series  Grand Theft Auto

In [154]:
df1 = vgc_df.merge(platform_df, on = 'Name', how = 'left')
df1.head()

,Name,Publisher,Total_shipped,Total_sales,Date,Platform
0,Tetris,The Tetris Company,496.40m,NaN,01st Jan 88,Series
1,Tetris,The Tetris Company,496.40m,NaN,01st Jan 88,GB
2,Tetris,The Tetris Company,496.40m,NaN,01st Jan 88,NES
3,Pokemon,Nintendo,464.84m,NaN,28th Sep 98,Series
4,Call of Duty,Activision,400.00m,NaN,29th Oct 03,Series

In [155]:
df1['Total_sales'] = df1['Total_sales'].fillna('0.00m')
df1['Total_shipped'] = df1['Total_shipped'].fillna('0.00m')

df1['Total_sales'] = df1['Total_sales'].apply(lambda x : x[:-1]).astype(float)
df1['Total_shipped'] = df1['Total_shipped'].apply(lambda x : x[:-1]).astype(float)

nan_replace = {0.00:np.nan}
df1['Total_sales'] = df1['Total_sales'].replace(nan_replace)
df1['Total_shipped'] = df1['Total_shipped'].replace(nan_replace)

df1['Date'] = pd.to_datetime(df1['Date']).dt.year

for i, element in enumerate(df1['Name']) :
  if '(' in element :
    r2 = re.findall(r"\(.*?\)", element)
    df1['Name'][i] = element.replace(r2[0], '').strip()

for i, element in enumerate(df1['Name']) :
  if 'Read the review' in element :
    r3 = re.findall("Read the review", element)
    df1['Name'][i] = element.replace(r3[0], '').strip()

<ipython-input-155-f75f15f688a7>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Name'][i] = element.replace(r2[0], '').strip()
<ipython-input-155-f75f15f688a7>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Name'][i] = element.replace(r3[0], '').strip()

In [156]:
df1.head()

,Name,Publisher,Total_shipped,Total_sales,Date,Platform
0,Tetris,The Tetris Company,496.40,NaN,1988.0,Series
1,Tetris,The Tetris Company,496.40,NaN,1988.0,GB
2,Tetris,The Tetris Company,496.40,NaN,1988.0,NES
3,Pokemon,Nintendo,464.84,NaN,1998.0,Series
4,Call of Duty,Activision,400.00,NaN,2003.0,Series

In [157]:
df5 = df1 # travail sur une copie
df5 = df5.drop('Total_shipped', axis = 1)
df5 = df5.dropna()
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33632 entries, 494 to 42624
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         33632 non-null  object
 1   Publisher    33632 non-null  object
 2   Total_sales  33632 non-null  float64
 3   Date         33632 non-null  float64
 4   Platform     33632 non-null  object
dtypes: float64(2), object(3)
memory usage: 1.5+ MB

In [158]:
# Illustration de la mauvaise information induite par la platform
df5[df5['Name'].str.contains('Call of Duty')]

,Name,Publisher,Total_sales,Date,Platform
607,Call of Duty: Black Ops 3,Activision,15.09,2015.0,PS4
608,Call of Duty: Black Ops 3,Activision,15.09,2015.0,XOne
609,Call of Duty: Black Ops 3,Activision,15.09,2015.0,X360
610,Call of Duty: Black Ops 3,Activision,15.09,2015.0,PS3
611,Call of Duty: Black Ops 3,Activision,15.09,2015.0,PC
...,...,...,...,...,...
31869,Call of Duty: Modern Warfare Trilogy,Activision,0.11,2016.0,PS3
36636,Call of Duty 2,Activision,0.06,2005.0,All
36637,Call of Duty 2,Activision,0.06,2005.0,X360
36638,Call of Duty 2,Activision,0.06,2005.0,PC
36860,Call of Duty: The War Collection,Activision,0.06,2010.0,X360

# Fusion et gestion des valeurs manquantes

In [159]:
# Importation des DataFrame clean issus de la Data Quality

vg = pd.read_csv("vg.csv")
mc = pd.read_csv("mc.csv")
jv = pd.read_csv("jv.csv")

# Merge des dataframes selon différentes combinaison

mc_jv = jv.merge(mc, on = 'Name', how = 'left')
vg_mc = vg.merge(mc, on = ['Name','Platform'], how = 'left')
vg_jv = vg.merge(jv, on = 'Name', how = 'left')
vg_mc_jv = vg.merge(mc_jv, on = ['Name','Platform'], how = 'left')

# Exportation csv

#mc_jv.to_csv('/content/drive/MyDrive/Projet_Gaming_Sales/CODE_FINAL/csv/metacritic_jeuxvideos.csv', index = False)
#vg_mc.to_csv('/content/drive/MyDrive/Projet_Gaming_Sales/CODE_FINAL/csv/vg_metacritic.csv', index = False)
#vg_jv.to_csv('/content/drive/MyDrive/Projet_Gaming_Sales/CODE_FINAL/csv/vg_jeuxvideos.csv', index = False)
#vg_mc_jv.to_csv('/content/drive/MyDrive/Projet_Gaming_Sales/CODE_FINAL/csv/vg_metaritic_jeuxvideos.csv', index = False)

In [160]:
# Etude des NAN - DataFrame mc_jv

display(mc_jv.head())
for i in mc_jv.columns :
  print(i,':',mc_jv[i].isna().sum(),'NaN =', (100*mc_jv[i].isna().sum()/len(mc_jv[i])).round(2),'%')
  
#instanciation d'une boucle "for" pour afficher le pourcentage de NaN au sein du dataframe. 
#Un pourcentage plutôt élevé, en effet bien que les sites regroupent la quasi totalité des jeux existants, rares sont ceux qui possèdent une note "presse" et "joueurs".
#Cela ne représente pas un problème en soi puisque nous cherchons ici à rajouter des jeux plus récents à notre DF d'origine.

,Name,Test_JV,Players_JV,Platform,Test_MC,Players_MC
0,HOGWARTS LEGACY: L'HÉRITAGE DE POUDLARD,18.0,15.5,NaN,NaN,NaN
1,RESIDENT EVIL 4,18.0,17.3,AUTRE,96.000000,9.2
2,RESIDENT EVIL 4,18.0,17.3,PC,84.000000,6.4
3,RESIDENT EVIL 4,18.0,17.3,PLAYSTATION,90.333333,8.2
4,RESIDENT EVIL 4,18.0,17.3,SWITCH,80.000000,8.5

Name : 0 NaN = 0.0 %
Test_JV : 32405 NaN = 66.17 %
Players_JV : 37252 NaN = 76.07 %
Platform : 35097 NaN = 71.67 %
Test_MC : 35918 NaN = 73.34 %
Players_MC : 37063 NaN = 75.68 %

In [161]:
# Etude des NAN - DataFrame vg_jv

display(vg_jv.head())
for i in vg_jv.columns :
  print(i,':',vg_jv[i].isna().sum(),'NaN : ', (100*vg_jv[i].isna().sum()/len(vg_jv[i])).round(2),'%')
  
#Ici, on rajoute les notes du site jeuxvideo.com à notre dataframe d'origine, le nombre de NaN est légérement réduit.

,Name,Platform,Genre,Publisher,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Test_JV,Players_JV
0,WII SPORTS,WII,SPORTS,NINTENDO,2006.0,41.49,29.02,3.77,8.46,82.74,14.0,13.8
1,SUPER MARIO BROS.,NINTENDO,PLATFORM,NINTENDO,1985.0,29.08,3.58,6.81,0.77,40.24,19.0,18.6
2,MARIO KART WII,WII,RACING,NINTENDO,2008.0,15.85,12.88,3.79,3.31,35.82,16.0,17.4
3,GRAND THEFT AUTO V,PLAYSTATION,ACTION,TAKE-TWO INTERACTIVE,2014.0,10.81,15.08,1.33,6.16,33.38,18.0,17.5
4,WII SPORTS RESORT,WII,SPORTS,NINTENDO,2009.0,15.75,11.01,3.28,2.96,33.00,15.0,16.5

Name : 0 NaN :  0.0 %
Platform : 0 NaN :  0.0 %
Genre : 0 NaN :  0.0 %
Publisher : 0 NaN :  0.0 %
Year : 0 NaN :  0.0 %
NA_Sales : 0 NaN :  0.0 %
EU_Sales : 0 NaN :  0.0 %
JP_Sales : 0 NaN :  0.0 %
Other_Sales : 0 NaN :  0.0 %
Global_Sales : 0 NaN :  0.0 %
Test_JV : 10225 NaN :  64.03 %
Players_JV : 11314 NaN :  70.85 %

In [162]:
# Etude des NAN - DataFrame vg_mc

display(vg_mc.head())
for i in vg_mc.columns :
  print(i,':',vg_mc[i].isna().sum(),'NaN = ', (100*vg_mc[i].isna().sum()/len(vg_mc[i])).round(2),'%')
  
#Même chose avec le site MetaCritic, premier constat, beaucoup moins de valeurs NaN qu'avec jeuxvideo.com

,Name,Platform,Genre,Publisher,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Test_MC,Players_MC
0,WII SPORTS,WII,SPORTS,NINTENDO,2006.0,41.49,29.02,3.77,8.46,82.74,76.000000,8.10
1,SUPER MARIO BROS.,NINTENDO,PLATFORM,NINTENDO,1985.0,29.08,3.58,6.81,0.77,40.24,NaN,NaN
2,MARIO KART WII,WII,RACING,NINTENDO,2008.0,15.85,12.88,3.79,3.31,35.82,82.000000,8.50
3,GRAND THEFT AUTO V,PLAYSTATION,ACTION,TAKE-TWO INTERACTIVE,2014.0,10.81,15.08,1.33,6.16,33.38,91.666667,8.35
4,WII SPORTS RESORT,WII,SPORTS,NINTENDO,2009.0,15.75,11.01,3.28,2.96,33.00,80.000000,8.30

Name : 0 NaN =  0.0 %
Platform : 0 NaN =  0.0 %
Genre : 0 NaN =  0.0 %
Publisher : 0 NaN =  0.0 %
Year : 0 NaN =  0.0 %
NA_Sales : 0 NaN =  0.0 %
EU_Sales : 0 NaN =  0.0 %
JP_Sales : 0 NaN =  0.0 %
Other_Sales : 0 NaN =  0.0 %
Global_Sales : 0 NaN =  0.0 %
Test_MC : 9360 NaN =  60.03 %
Players_MC : 9644 NaN =  61.86 %

In [163]:
# Etude des NAN - DataFrame mc_jv

display(vg_mc_jv.head())
for i in vg_mc_jv.columns :
  print(i,':',vg_mc_jv[i].isna().sum(),'NaN = ', (100*vg_mc_jv[i].isna().sum()/len(vg_mc_jv[i])).round(2),'%')

,Name,Platform,Genre,Publisher,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Test_JV,Players_JV,Test_MC,Players_MC
0,WII SPORTS,WII,SPORTS,NINTENDO,2006.0,41.49,29.02,3.77,8.46,82.74,14.0,13.8,76.000000,8.10
1,SUPER MARIO BROS.,NINTENDO,PLATFORM,NINTENDO,1985.0,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN
2,MARIO KART WII,WII,RACING,NINTENDO,2008.0,15.85,12.88,3.79,3.31,35.82,16.0,17.4,82.000000,8.50
3,GRAND THEFT AUTO V,PLAYSTATION,ACTION,TAKE-TWO INTERACTIVE,2014.0,10.81,15.08,1.33,6.16,33.38,18.0,17.5,91.666667,8.35
4,WII SPORTS RESORT,WII,SPORTS,NINTENDO,2009.0,15.75,11.01,3.28,2.96,33.00,15.0,16.5,80.000000,8.30

Name : 0 NaN =  0.0 %
Platform : 0 NaN =  0.0 %
Genre : 0 NaN =  0.0 %
Publisher : 0 NaN =  0.0 %
Year : 0 NaN =  0.0 %
NA_Sales : 0 NaN =  0.0 %
EU_Sales : 0 NaN =  0.0 %
JP_Sales : 0 NaN =  0.0 %
Other_Sales : 0 NaN =  0.0 %
Global_Sales : 0 NaN =  0.0 %
Test_JV : 11617 NaN =  73.55 %
Players_JV : 12224 NaN =  77.39 %
Test_MC : 11224 NaN =  71.06 %
Players_MC : 11404 NaN =  72.2 %

In [165]:
vg_mc_jv = vg_mc_jv.dropna()

#vg_mc_jv.to_csv("/content/drive/MyDrive/Projet_Gaming_Sales/CODE_FINAL/csv/vg_mc_jv.csv", index = False)
# DF que l'on décide de garder pour la modélisation